@import "../../styles/GlobalStyles.css";
.apply-form-container{
    padding-left: 100px;
    font-family: var(--global-font-family);
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--global-page-background-color);
    height: 100vh;
    min-height : 100vh
}
.apply-form--project{
    padding-top: 50px;
}
.apply-form-container > div > ul {
    list-style-type: none;
    padding-inline-start: 0px;
}
.apply-form--project-name{
    font-size: 30px;
    font-weight: var(--global-headline-1-font-weight);
    font-size: 30px;
    
    color:var(--global-primary-color);
}
.apply-form--project-location{
    font-size: var(--global-headline-2-light-size);
    /* margin-top: -20px; */
    color: var(--global-headline-2-light-color) ;
    
    font-weight:var(--global-title-1-light-font-weight);
}
.contact {
    /* max-width: 45rem; */
    margin-top: 20px;
}
.contact-notice {
    font-weight: 300;
    line-height: 1.6;
    color: var(--global-secondary-color);
    margin-bottom: 3rem;
}
.contact-form-group {
    margin-bottom: 2rem;
}
.contact-form-label {
    color: var(--global-secondary-color);
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: 500;
    margin-top: 20px;
    
}
.contact-form-input, .contact-form-area {
    color: var(--global-secondary-color);
    display: block;
    width: 100%;
    /* padding: 1.5rem; */
    background-color: #f5f6fd;
    border: var(--global-border-color);
    outline: none;
    resize: none;
}
.contact-form-input::-webkit-input-placeholder,
.contact-form-area::-webkit-input-placeholder {
    color: var(--global-secondary-color);
}
.contact-form-input {
    border-radius: var(--global-border-radius);
}
.apply-form--submit-button {
    background-color: var(--global-primary-color);
    height: var(--global--submit-button-height);
    width: 345px;
    font-size: var(--global--submit-button-font-size);
    border-radius: var(--global-border-radius);
    margin-top: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apply-form--feedback-image{
    display: flex;
    align-self: stretch;
}