@import "../../styles/GlobalStyles.css";
.page{
    margin:0px;
    margin-left: 50px;
    
}

.page > ul {
    list-style-type: none;
}
.h1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    margin-top:50px;
    font-weight: var(--global-headline-1-font-weight);
    font-size: 30px;
    font-family: var(--global-font-family);
    color:var(--global-primary-color);
}
.location{
    font-size: var(--global-headline-2-light-size);
    margin-top: -20px;
    color: var(--global-headline-2-light-color) ;
    font-family: var(--global-font-family);
    font-weight:var(--global-title-1-light-font-weight);
}
 .contact {
    max-width: 45rem;
    }
    .contact-notice {
    font-weight: 300;
    line-height: 1.6;
    color: var(--global-secondary-color);
    margin-bottom: 3rem;
    }
    .contact-form-group {
    margin-bottom: 2rem;
    }
    .contact-form-label {
    color: var(--global-secondary-color);
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: 500;
    margin-top: 20px;
    font-family: var(--global-font-family);
    }
    .contact-form-input,
    .contact-form-area {
    color: var(--global-secondary-color);
    display: block;
    width: 100%;
    padding: 1.5rem;
    background-color: #f5f6fd;
    border: var(--global-border-color);
    outline: none;
    resize: none;
    }
    .contact-form-input::-webkit-input-placeholder,
    .contact-form-area::-webkit-input-placeholder {
    color: var(--global-secondary-color);
    }
    .contact-form-input {
    border-radius: var(--global-border-radius);
    }
    .contact-form-submit {
    color: white;
    padding-top: 1%;
    width: var(--global--submit-button-width);
    height: var(--global--submit-button-height);
    font-size: var(--global--submit-button-font-size);
    border-radius: var(--global-border-radius);
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 3px;
    background-color: var(--global-primary-color);
    box-shadow:0 10px 30px 0 var( --global-accent-1-color);
    margin-left: 300px;
    }
    
    