.page{
    margin:0px;
    margin-left: 50px;
}
.h1{
    margin-top: 50px;
    margin-bottom: 20px;
}
.location{
    margin-bottom: 20px;
}
 .contact {
    max-width: 45rem;
    }
    .contact-heading {
    color: #4d49ba;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 2rem;
    }
    .contact-notice {
    font-weight: 300;
    line-height: 1.6;
    color: #7e95cc;
    margin-bottom: 3rem;
    }
    .contact-form-group {
    margin-bottom: 2rem;
    }
    .contact-form-label {
    color: #7e95cc;
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: 500;
    }
    .contact-form-input,
    .contact-form-area {
    color: #7e95cc;
    display: block;
    width: 100%;
    padding: 1.5rem;
    background-color: #f5f6fd;
    border: 0;
    outline: none;
    resize: none;
    }
    .contact-form-input::-webkit-input-placeholder,
    .contact-form-area::-webkit-input-placeholder {
    color: #b2bada;
    }
    .contact-form-input {
    border-radius: 5rem;
    }
    .contact-form-area {
    min-height: 16rem;
    border-radius: 2rem;
    line-height: 1.6;
    }
    .contact-form-submit {
    color: white;
    padding: 1.5rem;
    width: 100%;
    max-width: 25rem;
    border-radius: 5rem;
    border: 0;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    white-space: nowrap;
    letter-spacing: 1px;
    background-color: #7b78f8;
    box-shadow: 0 10px 20px 0 rgba(123, 120, 248, 0.5);
    }
    .contact-form-area::-webkit-scrollbar {
    width: 5px;
    }
   
    .contact-form-area::-webkit-scrollbar-track {
    border-radius: 3rem;
    background-color: #eee;
    }
   
    .contact-form-area::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    background-color: #7b78f8;
    }
    