/* All the style for Choose Type Page (Screen 03) goes here */

/* colours */
:root {
  --primary: #fdfff4;
  --secondary: #adb1b8;
  --shadow: rgb(78, 78, 83);
  --title: #14151a;
}

.chooseTypePage {
  color: var(--title);
  border-radius: none;
  vertical-align: middle;
  font-family: "Inter";
  background-color: #e5e5e5;
}
