/* All the style for Choose Type Page (Screen 03) goes here */

.chooseTypePage {
  color: var(--title);
  border-radius: none;
  vertical-align: middle;
  font-family: "Inter";
  background-color: var(--global-page-background-color);
}
