/* All the style for Explore Page goes here */

* {
  margin: 0px;
}
.explorePage {
  margin: 0px;
  display: grid;
}

.view-header{
  border:1px solid black;
}

.icon-hamburger {
  width: 40px;
  margin-left: 10px;
  padding-right: 1%;
  vertical-align: -40%;
  display: inline-block;
  cursor: pointer;
}

.my-header {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  margin-right: 6px;
  margin-left: 20px;
  cursor: pointer;
  color: black;
}

.search-bar-input {
  padding: 1%;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 10px;
  font-size: 17px;
  width: 25%;
  height: 10px;
  font-weight: bold;
  border: 1px solid black;
  
}

.container-search{
  border: 1px solid black;
  display: inline-block;
  width: 50px;
  height:40.9px ;
  margin-left:-1px;
  background-color: green;
  text-align: center;
  /* justify-items: center; */
 
}
.icon-search {
  width: 30px;
  margin-top:2px;
  cursor: pointer;
  vertical-align: -7px;
}

.border-area-avatar {
  border-left: 1px solid black;
  margin-left: 190px;
  width: 250px;
  height: 70px;
  display: inline-flex;
  float: right;
  object-fit: cover;
}

.container-avatar {
  border: 2px solid black;
  margin-right: 1px;
  margin-left: 20px;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  display: inline-flex;
  background-color: white;
  justify-items: center;
  
}

.avatar {
  width: 43px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  margin-top: 0px;
  margin-right: 2px;
  margin-left: -2px;
  background-position: top center;
}

.name {
  margin-left: 5px;
  font-family: inherit;
  font-weight: bold;
  margin-right: 0px;
  white-space: nowrap;
  margin-top: 5px;
  cursor: pointer;
  font-size: 20px;
}

.arrow {
  margin-left: 0px;
  width: 40px;
  height: 35px;
  display: inline-flex;
  cursor: pointer;
}

.my-text {
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: -40px;
  margin-left: 30px;
}

.container-explore {
  overflow-x: scroll;
  display: grid;
  margin: 50px;
  margin-right: 10px;
  margin-bottom: 200px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  padding: 10px;
  text-align: center;
}

.project-card-1{
    border:none;
    width: 400px;
    height: 520px;
    cursor: pointer;
    margin-right: 10px;
    grid-row: 1/span 2;
    text-justify: inter-word;
    box-shadow: 2px 2px 2px rgb(130, 133, 143);
   border-radius: 5px;
}

.projects-image-1 {
  width: 400px;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
 
}

.projects-type-1 {
  margin-left: 60px;
  width: 290px;
  height: 30px;
  margin-top: 50px;
  margin-left:40px;
  text-align: left;
  font-family: normal;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 28px;
  color: #000000;
}
  
.my-project-card{
  border: none;
  height: 250px ;
  width: 400px;
  margin-right: 10px;
  cursor:pointer;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(130, 133, 143);
}

.projects-image {
  width: 399px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
 
}

.projects-type {
  margin-left: 60px;
  width: 290px;
  height: 30px;
  margin-top:10px;
  margin-left:50px;
  padding:10px;
  margin-bottom: -30px;
  text-align: left;
  font-family: normal;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

.container {
  overflow-x: scroll;
  display: flex;
  margin-right: 10px;
  margin: 50px;
  height: 450px;
}
.featured-cards{
  border: none;
  height: 410px ;
  width: 220px;
  margin-right: 10px;
  cursor:pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px rgb(130, 133, 143);
}

.picture-projects{
height: 200px;
width: 220px;
margin-right: 20px;
text-align: center;
cursor: pointer;
border-radius: 5px;
display: inline-table;
}
.small-logo-projects {
  height: 80px;
  width: 80px;
  border-radius:5px;
  cursor: pointer;
  margin-top: -30px;
  margin-left: 10px;
}
.text-logo-featured{
  text-align: left;
  padding-bottom: 20px;
  cursor: pointer;
  margin-left: 5px;
}

.footer {
  border-top: 5px solid black;
}
.text-1 {
  font-family: initial;
  font-style: normal;
  font-size: 25px;
  line-height: 96px;
  font-weight: bold;
  margin-left: 10px;
}
.text-2 {
  float: right;
  font-family: Inter;
  font-style: normal;
  font-size: 25px;
  font-weight: bold;
  line-height: 96px;
  margin-top: -96px;
  margin-right: 10px;
}
