.projectActivity {
  display: flex;
  text-align: justify;
}
.activityInfo {
  flex: 7;
  margin-left: 29px;
  margin-right: 29px;
}
.activityPicture {
  height: 5rem;
  width: 5rem;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 3px;
  /*flex: 1;*/
}

.activityName {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.022em;
  color: black;
}
.activityTime,
.activityLocation {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;

  letter-spacing: -0.022em;

  color: #848484;
}

.activityDescription {
  color: black;
  /*wrap text*/
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.activityContainerButton {
  display: grid;
  align-content: flex;
  background-color: inherit;
  border: 2px gray;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.activityContainerButton:hover {
  background-color: var(--primary);
  filter: brightness(80%);
  transition: 0.2s;
}

.activityContainerButton:not(:hover) {
  transition: 0.2s;
}

.activityLink {
  text-decoration: none;
  display: flex;
}
