.projectActivity {
  display: flex;
  text-align: justify;
}
.activityInfo {
  flex: 7;
  margin-left: 29px;
  margin-right: 29px;
}
.activityPicture {
  height: 52px;
  width: 52px;
  border-radius: 3px;
  object-fit: cover;
  /*flex: 1;*/
}

.activityName {
  font-style: normal;
  font-weight: bold;
  line-height: 1.5rem;
  font-size: 13px;
  letter-spacing: -0.022em;
  color: black;
}
.activityTime,
.activityLocation {
  font-style: normal;
  font-weight: normal;
  line-height: 1.5rem;
  font-size: 13px;
  letter-spacing: -0.022em;
  color: #848484;
}

.activityDescription {
  color: black;
  line-height: 1.5rem;
  font-size: 13px;
  text-align: justify;
  /*wrap text*/
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.activityContainerButton {
  display: grid;
  align-content: flex;
  background-color: inherit;
  border: 1px gray;
  padding: 0;
  border-radius: 3px;
  cursor: pointer;
}

.activityContainerButton:hover {
  filter: brightness(120%);
  transition: 0.2s;
}

.activityContainerButton:not(:hover) {
  transition: 0.2s;
}

.activityLink {
  text-decoration: none;
  display: flex;
}
