.projectActivity {
  display: flex;
  margin-top: 20px;
}
.activityInfo {
  flex: 7;
  margin-left: 29px;
  margin-right: 29px;
}
.activityPicture {
  height: 52px;
  width: 70px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 3px;
  flex: 1;
}

.activityName {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: -0.022em;
  color: black;
}
.activityTime, .activityLocation {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;

  letter-spacing: -0.022em;

  color: #848484;
}

.activityDescription{
  color: black;
}