@import '../../../pages/app/styles/GlobalStyles.css';

.form-input-style{
    display: flex;
    flex-direction: column;
}

.form-input-style > p{
    font-weight: 500;
    margin-bottom: 10px;
    color: #666666;
}

.form-input-style > input {
    border-radius: var(--global-border-radius);
    border: var(--global-border-color);
    width: var(--global--form-input-width);
    height: var(--global--form-input-height);
    -webkit-transition: 0.5s;
    transition: 0.1s;
    outline: none;
    padding-left: 10px;
}

.form-input-style > input:focus{
    border: var(--global-border-color__focus);
}

.form-input-style > ::placeholder{
    font-size: var(--global-sub-title-light-size);
    color: var(--global-sub-title-light-color);
    font-weight: normal;
}
