.page{
    display: grid;
}
.container-BeautifyProfile{
    display: grid;
    margin-top:50px;
    margin-left: 100px;
}
.my-header-BeautifyProfile{
    margin-top:50px;
    font-weight: bold;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.description-BeautifyFrofile{
    font-size: 20px;
    margin-top:20px;
}
.view-text-input-beautifyProfile{
    margin-left:0px;
    margin-right:20px;
    margin-bottom:20px;
    margin-top:10px;
    display: grid;
}
.input-text-beautifyProfile{
    margin-right:20px;
    margin-bottom:20px;
    margin-top:20px;
    height: 50px;
    font-size:20px;
    border:2px solid black;
    border-radius: 5px;
    font-size:20px;
    width:330px;
}
.select{
    width: 340px;
    border:2px solid black;
    border-radius: 7px;
}

.import-file{
    /* display: none; */
    margin-left:105px;
}
.add-avatar{
    margin-left:100px;
    margin-top: 5px;
    background-color: black;
    border-radius: 10px;
    color: white;
}
.container-continue{
    width:340px;
    cursor: pointer;
}