@import "../../styles/GlobalStyles.css";
/* 
*Tien with global styles
*3rd October 2020
*/
.page{
    display: grid;
}
.container-BeautifyProfile{
    display: grid;
    margin-top:30px;
    margin-left: 100px;
}
.my-header-BeautifyProfile{
    margin-top:50px;
    font-weight: var(--global-headline-1-font-weight);
    font-size: var(--global-headline-1-size);
    font-family: var(--global-font-family)
}
.description-BeautifyFrofile{
    margin-top:10px;
    font-size: var(--global-title-1-light-size);
    color:var(--global-title-1-light-color);
    font-family: var(--global-font-family);
    font-weight:var(--global-title-1-light-font-weight);
}
.view-text-input-beautifyProfile{
    margin-left:0px;
    margin-right:20px;
    margin-bottom:20px;
    margin-top:20px;
    display: grid;
}
.input-text-beautifyProfile{
    margin-right:20px;
    margin-bottom:10px;
    margin-top:20px;
    height: 50px;
    font-size:var(--global-sub-title-light-size);
    border:var(--global-border-color);
    font-family: var(--global-font-family);
    color:var(--global-sub-title-light-color) ;
    width:330px;
    border-radius: var(--global-border-radius) ;
}
.select{
    width: 338px;
    outline: none;
    border-radius: var(--global-border-radius);
    /* border:var(--global-border-color); */
}
.import-file{
    /* display: none; */
    margin-left:105px;
}
.container-continue{
    width:340px;
    cursor: pointer;
}
#input> ::placeholder{
    font-family: var(--global-font-family);
}