/* * {
  font-family: "Inter";
  font-size: 16px;
} */

#createPostModal_3 {
  /* display: grid;
  padding-top: 10vh;
  grid-template-columns: minmax(auto, 94px) 92%;
  grid-auto-rows: minmax(max-content, 59px);
  height: 100vh;
  background-color: #f4f4f4;
  font-family: Helvetica, Arial, sans-serif; */
  display: grid;
  grid-template-columns: minmax(auto, 94px) 92%;
  grid-auto-rows: minmax(max-content, 59px);
  background-color: #f4f4f4;
  font-family: Helvetica, Arial, sans-serif;
}
#createPostModal_3 > * {
  grid-column-start: 2;
}
#createPostModal_3 > h1 {
  /* font-size: 20px;
  letter-spacing: -0.022em;
  color: #000000; */
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: var(--global-headline-1-font-weight);
  font-family: var(--global-font-family);
  color: var(--global-primary-color);
}

#createPostModal_3 > p {
  /* grid-column-start: 2;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  max-width: 328px;
  /* or 167% */
  /*letter-spacing: -0.022em;
  color: #929292; */

  max-width: 328px;
  font-family: var(--global-font-family);
  white-space: nowrap;
  color: var(--global-title-1-light-color);
  margin-bottom: 16px;
}

#createPostModal_3 .modalContent > div {
  border: 2px solid black;
  max-width: 328px;
  margin-top: 36px;
}

#createPostModal_3 > button {
  background-color: #c4c4c4;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;
  max-width: 328px;
  margin-top: 36px;
}

#createPostModal_3 .addBenefitBox {
  /* max-width: 328px;

  background-color: #c4c4c4;
  border: 1px solid #6d6d6d;
  box-sizing: border-box;
  border-radius: 3px;
  padding-bottom: 46px;
  margin-bottom: 32px; */

  max-width: 328px;
  background-color: #c4c4c4;
  border: 1px solid #666666;
  box-sizing: border-box;
  border-radius: var(--global-border-radius);
  padding-bottom: 46px;
  margin: 16px 0;
}
#createPostModal_3 .addBenefitBox > div {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 10px;

  /*
  width: 25%;
  border: 1px solid red;
  margin-left: -0px;
  display: grid;
  border-radius: var(--global-border-radius);
  border: var(--global-border-color);
  width: var(--global--form-input-width);
  height: var(--global--form-input-height);
  -webkit-transition: 0.5s;
  transition: 0.1s;
  outline: none;
  
  */

  margin: 4%;
}

#createPostModal_3 .addBenefitButton {
  margin: 0 8px;
  transform: scale(1.6);
  cursor: pointer;
}

#createPostModal_3 .addBenefitBox li input {
  width: 80%;
}
#createPostModal_3 .addBenefitBox li {
  margin-bottom: 10px;
}

#createPostModal_3 .avatarBox {
  max-width: 328px;
  height: 142px;
  background-color: #c4c4c4;
  border: 1px solid #6d6d6d;
  box-sizing: border-box;
  border-radius: 3px;
  padding-bottom: 46px;
  margin-bottom: 32px;
}

.form-input {
  width: 25%;
  border: 1px solid red;
  margin-left: -0px;
  display: grid;
  border-radius: var(--global-border-radius);
  border: var(--global-border-color);
  width: var(--global--form-input-width);
  height: var(--global--form-input-height);
  -webkit-transition: 0.5s;
  transition: 0.1s;
  outline: none;
  margin: 4%;
}
