@import "../../styles/GlobalStyles.css";

#createPostModal_2 {
  display: grid;
  grid-template-columns: minmax(auto, 94px) 92%;
  grid-auto-rows: minmax(max-content, 59px);
  height: 100vh;
  background-color: #f4f4f4;
  font-family: Helvetica, Arial, sans-serif;
}
#createPostModal_2 > * {
  grid-column-start: 2;
}
.h1-post-modal-2{
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: var(--global-headline-1-font-weight);
  font-family: var(--global-font-family);
  color: var(--global-primary-color);
}
.p-post-modal-2{
  font-family: var(--global-font-family);
  white-space: nowrap;
  color: var(--global-title-1-light-color);
}
.question{
  margin-top: 5px;
  margin-left: 10px;
}
.add-question{
  margin-left: 290px;
  margin-top: -35px;
  cursor: pointer;
  width: 30px;
  height: 50px;
}
.form-input{
  width: 25%;
  border:1px solid red;
  margin-left: -0px;
  display: grid;
  border-radius: var(--global-border-radius);
  border: var(--global-border-color);
  width: var(--global--form-input-width);
  height: var(--global--form-input-height);
  -webkit-transition: 0.5s;
  transition: 0.1s;
  outline: none;
  margin: 4%;
}
#createPostModal_2 .modalContent > div {
  border: 2px solid black;
  max-width: 328px;
  margin-top: 36px;
}

.continue-post-modal {
  background-color:var(--global-primary-color);
  box-sizing: border-box;
  border-radius: 3px;
  max-width: 328px;
  margin-top: 36px;
  text-align: center;
  letter-spacing: -2.2%;
  font-family: var(--global-font-family);
  padding: 5px;
  font-weight: bold;
  color: white;
}
#createPostModal_2 .addQuestionBox {
  max-width: 328px;
  background-color: #c4c4c4;
  border: 1px solid #666666;
  box-sizing: border-box;
  border-radius: var(--global-border-radius);
  padding-bottom: 46px;
}


#createPostModal_2 .addQuestionButton {
  margin: 8px;
}

#createPostModal_2 .addQuestionBox li input {
  width: 80%;
}

.link-post-modal{
  color:rgb(58, 58, 238) ;
  margin-left: 100px;
  margin-top: 10px;
}
