#createPostModal {
  display: grid;
  padding-top: 10vh;
  grid-template-columns: minmax(auto, 94px) 92%;
  grid-auto-rows: minmax(max-content, 59px);
  height: 100vh;
  background-color: #f4f4f4;
  font-family: Helvetica, Arial, sans-serif;
}
#createPostModal > * {
  grid-column-start: 2;
}
#createPostModal > h1 {
  font-size: 20px;
  letter-spacing: -0.022em;
  color: #000000;
}

#createPostModal > p {
  grid-column-start: 2;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  max-width: 328px;
  /* or 167% */

  letter-spacing: -0.022em;

  color: #929292;
}

#createPostModal .modalContent > div {
  border: 2px solid black;
  max-width: 328px;
  margin-top: 36px;
}

#createPostModal > button {
  background-color: #c4c4c4;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;
  max-width: 328px;
  margin-top: 36px;
}

.boxModal {
  display: flex;
  flex-direction: column;
  background: #c4c4c4;
  border: 1px solid #6d6d6d;
  box-sizing: border-box;
  border-radius: 3px;
}

.boxModal > input {
  background-color: #c4c4c4;
  border: 0px;
  height: 59px;
}
.boxModal ::placeholder {
  color: black;
}

.boxModal > .description {
  height: 142px;
}

.descriptionBoxModal {
  display: flex;
  flex-direction: column;
  background: #c4c4c4;
  border: 1px solid #6d6d6d;
  box-sizing: border-box;
  border-radius: 3px;
}

.descriptionBoxModal > input {
  background-color: #c4c4c4;
  border: 0px;
  height: 142px;
}
.descriptionBoxModal ::placeholder {
  color: black;
}

.descriptionBoxModal > .description {
  height: 142px;
}
