@import "../../styles/GlobalStyles.css";
.page{
    display: grid;
}
.container-FinishCreate{
    display: grid;
    margin-top:50px;
    margin-left: 100px;
}
.my-header-FinishCreate{
    color: var(--global-primary-color);
    margin-top:50px;
    font-weight: var(--global-headline-1-font-weight);
    font-size: var(--global-headline-1-size);
    font-family: var(--global-font-family);
} 
.description-FinishCreate{
    margin-top:10px;
    font-size: var(--global-title-1-light-size);
    color:var(--global-title-1-light-color);
    font-family: var(--global-font-family);
    font-weight:var(--global-title-1-light-font-weight);
}
.view-text-input-FinishCreate{
    margin-left:0px;
    margin-right:20px;
    margin-bottom:0px;
    margin-top:10px;
    display: grid;
}
.container-continue{
    height: var(--global--submit-button-height);
    line-height: 40px;
    cursor: pointer;
    color: black;
    font-family: var(--global-font-family);
    margin-top: 20px;
    border-radius: var(--global-border-radius);
    text-align: center;
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: -2.2%;
    font-size: var(--global--submit-button-font-size);
    background-color: #2FAD58;
    position: absolute;
}