@import "../../styles/GlobalStyles.css";
.page{
    display: grid;
}
.container-FinishCreate{
    display: grid;
    margin-top:50px;
    margin-left: 100px;
}
.my-header-FinishCreate{
    margin-top:50px;
    font-weight: var(--global-headline-1-font-weight);
    font-size: var(--global-headline-1-size);
    font-family: var(--global-font-family)
} 
.description-FinishCreate{
    font-size: var(--global-title-1-light-size);
    margin-top:10px;
    color:var(--global-title-light-color);
    font-family: var(--global-font-family);
    font-weight:var(--global-title-1-light-font-weight);
}
.view-text-input-FinishCreate{
    margin-left:50px;
    margin-right:20px;
    margin-bottom:20px;
    margin-top:10px;
    display: grid;
}
.input-text-FinishCreate{
    margin-left:-50px;
    margin-bottom:20px;
    margin-top:10px;
    margin-right: 30px;
    height: 50px;
    font-size:20px;
    border:var( --global-border-color);
    border-radius: var(--global-border-radius);
    width: 330px;
}
.container-continue{
    height: var(--global--submit-button-height);
    line-height: 40px;
    cursor: pointer;
    color: black;
    font-family: var(--global-font-family);
    margin-top: 20px;
    border-radius: var(--global-border-radius);
    text-align: center;
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: -2.2%;
    font-size: var(--global--submit-button-font-size);
    background-color: #2FAD58;
    box-shadow:0 10px 30px 0 var( --global-accent-1-color);
    position: absolute;
}