/* All the style for Choose Type Page (Screen 03) goes here */

/* colours */
:root {
  --primary: #fdfff4;
  --secondary: #9fa8b6;
  --shadow: rgb(67, 67, 83);
  --title: #11131b;
}

.profilePage {
  color: var(--title);
  background-color: var(--secondary);
  border-radius: none;
  vertical-align: middle;
  font-family: "Inter";
}

/*Component*/
.profile--title {
  color: var(--title);
  font-size: 150%;
  font-weight: bold;
  margin: 1%;
}

.project-activity-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.project-activity-list--component {
  text-decoration-line: none;
}

.profile-avatar {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  object-fit: cover;
}

.profile-link {
  color: var(--title);
  text-decoration: none;
}

.profile-button {
  display: inline-block;
  /*Size and border*/
  width: 150px;
  border: none;
  border-radius: 5px;
  /*Spacing*/
  margin: 5px;
  padding: 5px;
  /*coloring*/
  color: var(--title);
  background-color: var(--secondary);
  /*text*/
  font-family: "Inter";
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  /*Animation*/
  cursor: pointer;
}

.profile-button:active {
  opacity: 0.5;
}
.profile-button:hover {
  color: var(--primary);
  background-color: rgb(87, 87, 121);
}

/*Container*/
.profile-name-container {
  display: inline-flex;
  /*margin*/
  margin-bottom: 5%;
  /*padding*/
  padding: 20px;
  padding-left: 5%;
  padding-right: 5%;
  /*size*/
  width: 90%;
  /*color*/
  background-color: var(--primary);
  /*children adjusting*/
  text-align: justify;
  vertical-align: middle;
}

.profile-block-container {
  display: grid;
  /*border*/
  border-radius: 10px;
  /*margin*/
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 15%;
  /*padding*/
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  /*size*/
  width: 60%;
  /*color*/
  background-color: var(--primary);
  /*text adjusting*/
  text-align: justify;
}

.profile-block-container-small {
  display: flexbox;
  /*margin*/
  margin-left: 2%;
  margin-right: 2%;
  /*padding*/
  padding: none;
  /*size*/
  width: 60%;
  /*color*/
  background-color: var(--primary);
  /*text adjusting*/
  text-align: justify;
}

.profile-block-container-smaller {
  margin: none;
  margin-top: 1%;
  width: 20%;
  color: var(--secondary);
  overflow-x: hidden;
}
