/* All the style for Choose Type Page (Screen 03) goes here */

.profilePage {
  margin: none;
  color: var(--global-normal-text-color);
  font-family: var(--global-font-family);
  background-color: var(--global-page-background-color);
  border-radius: none;
  vertical-align: middle;
}

/*Component*/
.profile--title {
  display: inline-block;
  color: var(--global-normal-text-color);
  font-size: 20px;
  font-weight: bold;
  margin: 1%;
  margin-left: 0;
}

.project-activity-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.project-activity-list--component {
  text-decoration-line: none;
}

.profile-avatar {
  height: 175px;
  width: 175px;
  border-radius: 87.5px;
  object-fit: cover;
}

.profile-link {
  color: var(--global-normal-text-color);
  text-decoration: none;
}

.profile-button {
  display: inline-block;
  /*Size and border*/
  width: 170px;
  height: 30px;
  border: none;
  border-radius: 3px;
  /*Spacing*/
  margin: 5px;
  /*coloring*/
  color: var(--title);
  background-color: var(--global-primary-color);
  /*text*/
  line-height: 30px;
  font-weight: bold;
  align-items: center;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  /*Animation*/
  cursor: pointer;
}

.profile-button.right {
  margin: none;
  padding: none;
  background-color: inherit;
  float: right;
}

.profile-button:active {
  opacity: 0.5;
}
.profile-button:hover {
  filter: brightness(130%);
  transition: 0.3s;
}
.profile-button:not(:hover) {
  transition: 0.3s;
}

/*Container*/
.profile-name-container {
  display: inline-flex;
  /*margin*/
  margin-bottom: 5%;
  /*padding*/
  padding: 25px;
  padding-left: 5.8437%;
  padding-right: 5%;
  width: 89.19%;
  /*color*/
  background-color: white;
  /*children adjusting*/
  text-align: justify;
}

.profile-block-container {
  display: grid;
  /*border*/
  border-radius: 3px;
  /*margin*/
  margin-top: 1%;
  margin-left: 23%;
  margin-right: 23%;
  /*padding*/
  padding: 20px;
  padding-left: 81px;
  padding-right: 51px;
  /*size*/
  width: 46%;
  /*color*/
  background-color: white;
  /*text adjusting*/
  text-align: justify;
}

.profile-block-container-small {
  display: flexbox;
  /*margin*/
  margin-left: 2%;
  margin-right: 2%;
  /*padding*/
  padding: none;
  /*size*/
  width: 73.046%;
  /*color*/
  background-color: var(--primary);
  /*text adjusting*/
  font-size: 16px;
  line-height: 1.5rem;
  text-align: justify;
}

.profile-description {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  max-width: inherit;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.profile-block-container-smaller {
  margin: none;
  margin-top: 1%;
  width: 20%;
  word-wrap: break-word;
  text-align: justify;
  filter: brightness(80%);
  color: var(--secondary);
}
