/* All the style for Choose Type Page (Screen 03) goes here */

.profilePage {
  margin: none;
  color: var(--global-normal-text-color);
  font-family: var(--global-font-family);
  background-color: var(--global-page-background-color);
  border-radius: none;
  vertical-align: middle;
}

/*Component*/
.profile--title {
  display: inline-block;
  color: var(--global-title-1-color);
  font-size: var(--global-title-1-size);
  font-weight: var(--global-title-1-font-weight);
  margin: 1%;
  margin-left: 0;
}

.project-activity-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.project-activity-list--component {
  text-decoration-line: none;
}

.profile-avatar {
  /*
  height: 13vw;
  width: 13vw;
  border-radius: 7.5vw;

  height: 28vh;
  width: 28vh;
  border-radius: 14vh;
  */
  height: var(--global--user--avatar__profile--page-view-size);
  width: var(--global--user--avatar__profile--page-view-size);
  border-radius: var(--global--user--avatar__profile--page-view-size);
  object-fit: cover;
  border: 1px solid black;
}

.profile-link {
  color: var(--global-normal-text-color);
  text-decoration: none;
}

.profile-button {
  display: inline-block;
  /*Size and border*/
  /*width: 13.2vw;*/
  border: none;
  border-radius: var(--global-border-radius);
  /*Spacing*/
  padding: 3vw;
  padding-top: 0;
  padding-bottom: 0;
  margin: 5px;
  /*coloring*/
  color: var(--title);
  background-color: var(--global-primary-color);
  /*text*/
  line-height: var(--global--add__project__activity-button-height);
  font-weight: bold;
  align-items: center;
  font-size: var(--global--add__project__activity-button-font-size);
  text-align: center;
  text-decoration: none;
  /*Animation*/
  cursor: pointer;
}

.profile-button.right {
  margin: none;
  padding: none;
  background-color: inherit;
  float: right;
}

.profile-button:active {
  opacity: 0.5;
}
.profile-button:hover {
  filter: brightness(130%);
  transition: 0.3s;
}
.profile-button:not(:hover) {
  transition: 0.3s;
}

/*Container*/
.profile-name-container {
  display: flex;
  /*margin*/
  margin-bottom: 5%;
  /*padding*/
  padding: 25px;
  padding-left: 6vw;
  padding-right: 5vw;
  /*color*/
  background-color: white;
  /*children adjusting*/
  text-align: justify;
}

.profile-block-container {
  display: grid;
  /*border*/
  border-radius: var(--global-border-radius);
  /*margin*/
  margin-top: 1%;
  margin-left: 23%;
  margin-right: 23%;
  /*padding*/
  padding: 20px;
  padding-left: 5.9vw;
  padding-right: 3.9vw;
  /*size*/
  width: 46%;
  /*color*/
  background-color: white;
  /*text adjusting*/
  text-align: justify;
}

.profile-block-container-small {
  display: flexbox;
  /*margin*/
  margin-left: 2%;
  margin-right: 2%;
  /*padding*/
  padding: none;
  /*size*/
  width: 100%;
  /* width: 100% is to fix the bug: child components of the name banner can float to wrong places when
  the description isn't long enough.*/
  /*text adjusting*/
  font-size: 16px;
  line-height: 1.5rem;
  text-align: justify;
}

.profile-description {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  max-width: inherit;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.profile-block-container-smaller {
  max-width: 15vw;
  margin: none;
  margin-top: 1%;
  word-wrap: break-word;
  text-align: justify;
  color: var(--global-normal-text-color);
}
