/*Bottom*/

.copyright-container {
  margin-top: 5%;
}

.copyright-text {
  display: inline;
  font-family: "Inter";
  font-size: 25px;
  color: var(--shadow);
}

.copyright-text.right {
  font-family: "Inter";
  float: right;
}
