/*Bottom*/

.line {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 1px solid var(--global-subtitles-color);
}

.copyright-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 3%;
  padding-top: 3%;
}

.copyright-text {
  display: inline;
  font-size: 40px;
  color: var(--shadow);
}

.copyright-text.right {
  float: right;
}
