@import "../../pages/app/styles/GlobalStyles.css";
/* 
*Tien edited with global styles
*3rd October 2020
*/
.avatar-box{
    border:var(--global-border-color);
    border-radius:var(--global-border-radius);
    height: 300px;
    width:335px;
    margin-top:20px;
    margin-bottom: -20px
}
.avatar-text{
    font-weight: var(--global-title-1-light-font-weight);
    font-size:var(--global-title-1-light-size);
    margin-left: 10px;
    font-family: var(--global-font-family);
}
.image-holder{
    justify-items: center;
    margin-left: 20px;
    margin-top:10px;
    width:290px;
    height:200px;
    border-radius: var(--global-border-radius);
    object-fit: cover;
}
.label{
    display: flex;
}
.import-file{
    display: none;
}
.icon-img{
    width: 30px;
    height: 30px;
    margin-left: 100px;
    cursor: pointer;
}
.p{
    font-family: var(--global-font-family);
    margin-top: 3px;
    white-space: nowrap;
    height: 10px;
    cursor: pointer;
    margin-left: 4px;
}