:root {
  --primary: #e1e4d2;
  --secondary: #7c78bb;
  --title: #2d2e38;
}

.navigationBar {
  font-family: "Inter";
  color: #2d2e38;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flexbox;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  border: 1px solid var(--secondary);
  overflow: hidden;
}

.navigationBar .banner-title {
  display: inline;
  margin-left: 2px;
  margin-right: 2px;
  vertical-align: middle;
  font-size: 24px;
  font-weight: bold;
  color: var(--title);
  background-color: var(--primary);
  border: none;
  border-radius: 0.4rem;
  text-decoration: none; /*remove link underline*/
}

.navigationBar .banner-title:hover {
  color: var(--secondary);
  transition: 0.2s;
  cursor: pointer;
}

.navigationBar .banner-title:not(:hover) {
  transition: 0.2s;
}

.navigationBar .link {
  margin: none;
  padding: none;
  text-decoration: none;
  background-color: none;
  border: none;
}

/*General*/
/*Search Input*/
.navigationBar .search-container {
  display: inline-block;
  width: 70%;
}

.navigationBar .search-container .search-input {
  vertical-align: middle;
  font-size: 18px;
  height: 28px;
  width: 80%;
  background-color: #d4dbe6;
}

.navigationBar .user-bar {
  vertical-align: middle;
  margin: 2px;
  float: right;
  display: inline-flex;
}

.navigationBar .icon.avatar {
  vertical-align: middle;
  border-radius: 16px;
  width: 32px;
  object-fit: cover;
}

.navigationBar .icon.avatar:hover {
  filter: brightness(150%);
  transition: 0.2s;
}

.navigationBar .icon.avatar:not(:hover) {
  transition: 0.2s;
}
