:root {
  --primary: #e1e4d2;
  --secondary: #9ba9bb;
  --title: #2d2e38;
}

.navigationBar {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--title);
  display: flexbox;
  padding-left: 10px;
  padding-right: 10px;
}

/*General*/
/*Icon*/
.navigationBar .icon {
  width: 32px;
  padding-left: 1%;
  padding-right: 1%;
  vertical-align: -40%;
  display: inline-block;
  cursor: pointer;
}
.navigationBar .icon:hover {
  background-color: #c4c4c4;
}

.navigationBar .search-input {
  font-size: 20px;
  background-color: #c4c4c4;
  border: 1px solid black;
}

/*Search Input*/
.search-input-banner {
  margin: 5px;
  padding: 5px;
  font-size: 17px;
  font-weight: normal;
  width: 70%;
  height: max-content;
  border: 0px solid;
  border-radius: 0px;
  background-color: var(--secondary);
  height: inherit;
  vertical-align: middle;
}
/*Specific*/
/*Page*/

/*top*/
.navigationBar {
  display: flexbox;
  padding-left: 10px;
  padding-right: 10px;
}
.banner-title {
  overflow-x: hidden;
  font-size: 150%;
  font-weight: bold;
  color: var(--title);
}
.banner-search-bar {
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  width: 50%;
}
.banner-user-bar {
  margin-top: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  float: right;
  display: -webkit-inline-flex;
}
.banner-user-bar-bottom {
  padding: none;
  float: right;
  display: -webkit-inline-flex;
}
.icon.avatar {
  margin-top: inherit;
  border-radius: 16px;
  width: 32px;
  object-fit: cover;
}
