.navigationBar {
  color: var(--global-headline-1-color);
  padding: 10px;
  padding-left: 5%;
  padding-right: 2%;
  position: sticky;
  z-index: 1;
  background-color: var(--global-page-background-color);
  border: 1px solid var(--global-smaller-subtitles-color);
  overflow: hidden;
  vertical-align: middle;
}

.navigationBar .SocialJect {
  display: inline-block;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}

.navigationBar .banner-title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  margin-right: 2px;
  font-size: var(--global-title-1-size);
  font-weight: var(--global-title-1-font-weight);
  color: var(--global-title-1-color);
  background-color: var(--global-page-background-color);
  border: none;
  border-radius: 0.4rem;
  text-decoration: none; /*remove link underline*/
}

.navigationBar .banner-title:hover {
  color: var(--global-accent-1-color);
  transition: 0.2s;
  cursor: pointer;
}

.navigationBar .banner-title:not(:hover) {
  transition: 0.2s;
}

.navigationBar .link {
  margin: none;
  padding: none;
  text-decoration: none;
  background-color: none;
  border: none;
  vertical-align: middle;
  align-self: center;
}

/*General*/
/*Search Input*/
/*
.navigationBar .search-container {
  display: inline-block;
  width: 70%;
}

.navigationBar .search-container .search-input {
  vertical-align: middle;
  font-size: var(--global-title-2-size);
  height: 28px;
  width: 80%;
  background-color: #d4dbe6;
}
*/

.navigationBar .user-bar {
  display: inline-flex;
  vertical-align: middle;
  margin: 2px;
  float: right;
}

.navigationBar .user-bar .icon {
  align-self: center;
}

.navigationBar .icon.avatar {
  vertical-align: middle;
  border-radius: var(--global--user--avatar-size);
  width: var(--global--user--avatar-size);
  height: var(--global--user--avatar-size);
  object-fit: cover;
  border: 1px solid black;
}

.navigationBar .icon.avatar:hover {
  filter: brightness(130%);
  transition: 0.2s;
}

.navigationBar .icon.avatar:not(:hover) {
  transition: 0.2s;
}
