/*Project display*/
.project-container {
  display: inline-table;
  margin-top: 1%;
}

.project-container-button {
  padding: none;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border: none;
  height: inherit;
  border-radius: 0.5rem;
  background-color: var(--primary);
  box-shadow: 2px 2px 2px rgb(130, 133, 143);
  cursor: pointer;
}
.project-card {
  display: inline;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  text-align: left;
}

.project-card:hover {
  cursor: pointer;
  background-color: rgb(176, 175, 179);
  filter: brightness(150%);
  transition: 0.2s;
}

.project-card:not(:hover) {
  transition: 0.2s;
}

.project-container-vertical {
  display: flex;
  overflow-x: auto;
  padding-left: 20px;
}

.project-title {
  width: auto;
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: 1%;
  font-size: 32px;
  color: var(--shadow);
}

.project-icon {
  display: grid;
  width: 90px;
  height: 90px;
  position: relative;
  object-fit: cover;
  border-radius: 0.5rem;
  top: -30px;
  left: 20px;
}

.project-icon:hover {
  filter: brightness(120%);
  transition: 0.2s;
}

.project-icon:not(:hover) {
  transition: 0.2s;
}

.project-image {
  width: 300px;
  height: 200px;
  border-radius: 0.5rem;
  object-fit: cover;
  cursor: pointer;
}

.project-text-container {
  padding-left: 20px;
}

.project-text {
  width: 280px;
  font-size: 20px;
  /*wrap text*/
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.project-text.title {
  font-size: 32px;
  color: var(--title);
}

.button.project {
  color: var(--title);
}
