/*Project display*/
.project-link {
  text-decoration: none;
}

.project-card {
  cursor: pointer;
  height: 450px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  text-align: left;
  box-shadow: 2px 2px 2px rgb(130, 133, 143);
}

.project-container {
  display: flex;
  overflow-x: auto;
  padding-left: 20px;
}

.project-container-vertical {
  display: flex;
  overflow-x: auto;
  padding-left: 20px;
}

.project-title {
  width: auto;
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: 1%;
  font-size: 32px;
  color: var(--shadow);
}

.icon.project {
  display: grid;
  width: 90px;
  height: 90px;
  position: relative;
  object-fit: cover;
  top: -30px;
  left: 20px;
}

.project-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.project-text-container {
  padding-left: 20px;
}

.project-text {
  font-size: 20px;
  color: var(--shadow);
}

.project-text.title {
  font-size: 32px;
  color: var(--title);
}

.button.project {
  color: var(--title);
}
